.commentOuter{
    text-align: left;
    overflow: auto;
    form{
        text-align: center;
    }
    .comment-box{
        text-align: left;
        .btn{
            margin-top: 20px;
        }
    }
}
